/************
 * Base CSS *
 ************/
/* Lock scroll, but allow rendering outside of screen */
html,
body {
    height: 100%;
    overflow: hidden;
}
/* Set the screen to not scroll */
#container {
    position: relative;
    height: 98vh;
    /* Mark out the container */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#board,
.backline,
.frontline,
#com,
#player,
.deck,
.hand,
.health,
.resources,
.token,
#game-button,
#game-message,
.card-name,
.card-cost,
.card-attack,
.card-health,
.card-action-button,
.current-resources {
    /* All except class="card" are absolute */
    position: absolute;
}

/***********
 * General *
 ***********/
#game-button {
    z-index: 9999;
    top: calc(50% - 100px / 2);
    right: 2%;
    width: 100px;
    height: 100px;
    background: green;
    cursor: pointer;
}
#game-message {
    z-index: 999;
    bottom: 49%;
    /* Center text */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    height: 4%;
    border: 1px solid black;
    background: white;
    font-size: 24px;
}
.token {
    width: 64px;
    height: 64px;
    background: orange;
}
.resources {
    width: 20px;
    height: 256px;
    background: lightblue;
}
.health {
    width: 70px;
    height: 70px;
    background: red;
}
.deck {
    width: 100px;
    height: 160px;
    background: black;
}
.hand {
    width: 70%;
    height: 160px;
    background: gray;
}
.resource-bar {
    width: 80%;
    height: 18px;
    margin: 2px auto;
    background: lightgray;
    border: 1px solid black;
}
.hide-cursor {
    cursor: none;
}

/************
 * Computer *
 ************/
#com {
    top: 0;
    left: 0;
    width: 100%;
    height: 49vh;
}
/* All com-X elements are positioned relative to #com */
#com-token {
    bottom: 18%;
    right: 5%;
}
#com-resources {
    bottom: 18%;
    right: 2%;
}
#com-resources .current-resources {
    bottom: 0;
    /* Center text */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#com-health {
    bottom: 10%;
    left: 3%;
}
#com-deck {
    top: 5%;
    left: 2%;
}
#com-hand {
    bottom: 90%;
    left: 15%;
}

/**********
 * Player *
 **********/
#player {
    top: 50%;
    left: 0;
    width: 100%;
    height: 49vh;
}
/* All player-X elements are positioned relative to #player */
#player-token {
    top: 18%;
    right: 5%;
}
#player-resources {
    top: 18%;
    right: 2%;
}
#player-resources .current-resources {
    bottom: 0;
    /* Center text */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#player-health {
    top: 10%;
    left: 3%;
}
#player-deck {
    bottom: 5%;
    left: 2%;
}
#player-hand {
    top: 90%;
    left: 15%;
}

/*********
 * Board *
 *********/
/* Might be needed for future drag & drop stuff */
/* #board {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
} */
.backline {
    width: 80%;
    height: 40%;
    background: darkcyan;
}
#com-backline {
    bottom: 40%;
    left: 10%;
}
#player-backline {
    top: 40%;
    left: 10%;
}
.frontline {
    width: 80%;
    height: 40%;
    background: yellowgreen;
}
#com-frontline {
    bottom: 0;
    left: 10%;
}
#player-frontline {
    top: 0;
    left: 10%;
}

/********
 * Card *
 ********/
.hand .card {
    /* Cards in hand should always be at the topmost layer */
    z-index: 999;
}
.card {
    /* Ensure cards are always at the top so that they're interactable */
    z-index: 998;
    position: relative;
    display: inline-block;
    width: 120px;
    height: 160px;
    border: 1px solid black;
    background: coral;
    /* For smooth transform animation defined in the next selector */
    transition: transform 0.3s ease-out;
}
#player .hand > .card:hover {
    transform: translate(0, -110px);
}
.card-action-button {
    cursor: pointer;
    bottom: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    height: 10%;
}
.card-name {
    bottom: 10%;
    /* Center text */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.card-cost {
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
}
.card-attack {
    bottom: 0;
    left: 0;
    width: 10%;
    height: 10%;
}
.card-health {
    bottom: 0;
    right: 0;
    width: 10%;
    height: 10%;
}
/* For com's cards when in hand */
.hidden > * {
    visibility: hidden;
}
/* Hide the card action button on com's cards */
#com .card-action-button {
    display: none;
}

/**********
 * Battle *
 **********/
.defence-slot {
    display: inline-block;
    width: 120px;
    height: 160px;
    background: lightblue;
    border: 1px solid black;
}
.clickable-def-slot {
    /* https://stackoverflow.com/a/5670984 */
    border: 2px solid #9ecaed;
    outline: none;
    box-shadow: 0 0 10px #9ecaed;
    cursor: pointer;
}
