/************
 * Base CSS *
 ************/
@font-face {
    /* Halo font */
    font-family: "haloregular";
    src: url("./assets/fonts/halo-webfont.woff2") format("woff2"),
        url("./assets/fonts/halo-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* Digital font */
    font-family: "ds-digitalnormal";
    src: url("./assets/fonts/ds-digi-webfont.woff2") format("woff2"),
        url("./assets/fonts/ds-digi-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html,
body {
    /* Lock scroll, but allow rendering outside of screen */
    height: 100%;
    overflow: hidden;
    /* font */
    font-family: haloregular, Helvetica, sans-serif;
}
/* Set the screen to not scroll */
#container {
    position: relative;
    height: 98vh;
    /* background: no-repeat center/100% url("./assets/img/halo-ring-bg.jpg"); */
    /* Mark out the container */
    border-top: 1px solid black;
}
/* #bg-video {
    width: 100%;
    height: 100%;
} */
#board,
.backline,
.frontline,
#battle-zone,
#com,
#player,
.deck,
.hand,
.health,
.health-avatar,
.resources,
.token,
.weapon,
#game-button,
#game-message,
.card-name,
.card-cost,
.card-attack,
.card-health,
.card-action-button,
.current-resources,
.aesthetics {
    /* All except class="card" are absolute */
    position: absolute;
}

/***********
 * General *
 ***********/
#game-button {
    z-index: 9999;
    top: calc(50% - 100px / 2);
    left: 20%;
    width: 100px;
    height: 100px;
    background: green;
    cursor: pointer;
}
#game-message {
    z-index: 999;
    top: 5%;
    right: 2%;
    width: 400px;
    height: 90%;
    border: 4px solid #19e40e;
    border-radius: 24px;
    padding: 24px;
    background: #0a1e05;
    text-align: center;
    overflow: scroll;
    /* Font */
    font-family: ds-digitalnormal;
    font-size: 24px;
    color: #00a000;
}
#game-message ol {
    text-align: left;
    line-height: 36px;
}
.token {
    width: 64px;
    height: 64px;
    background: no-repeat center/100% url("./assets/img/weapon-pad.png");
}
/* The weapon class is assigned to a div, to show when a user has the attack token */
.weapon {
    top: -18px;
    left: -18px;
    width: 100px;
    height: 100px;
    background: no-repeat center/100% url("./assets/img/battle-rifle.png");
    /* transform: scaleX(-1) rotate(-30deg); */
    /* Floating animation */
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}
/* For weapon floating animation */
@-webkit-keyframes action {
    0% {
        transform: translateY(-36px);
    }
    100% {
        transform: translateY(-48px);
    }
}
@keyframes action {
    0% {
        transform: translateY(-36px);
    }
    100% {
        transform: translateY(-48px);
    }
}
/* For weapon floating animation END */
.resources {
    width: 20px;
    height: 256px;
    background: lightblue;
}
.health {
    width: 64px;
    height: 32px;
    background: lightblue;
    border: 1px solid blue;
    border-radius: 12px;
    font-size: 24px;
    /* Text in center */
    text-align: center;
    vertical-align: middle;
    display: inline;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.health-avatar {
    top: -160px;
    left: -20px;
    width: 100px;
    height: 160px;
}
.hand {
    width: 1220px;
    height: 160px;
    /* Flex box */
    display: flex;
    justify-content: center;
}
.resource-bar {
    width: 80%;
    height: 18px;
    margin: 2px auto;
    background: lightgray;
    border: 1px solid black;
}
.hide-cursor {
    cursor: none;
}
.aesthetics {
    z-index: 0;
}

/*********
 * Board *
 *********/
#board {
    top: 10%;
    left: calc((100% - 740px) / 2);
    width: 740px;
    height: 80%;
    background: no-repeat center/100% url("./assets/img/board-bg.jpg");
    background-size: cover;
    border: 2px solid darkgreen;
    border-radius: 12px;
}
#battle-zone {
    top: 30%;
    left: calc((100% - 740px) / 2);
    width: 740px;
    height: 40%;
    background-color: rgba(116, 21, 21, 0.2);
    border: 4px dashed rgba(177, 27, 27, 0.7);
    color: rgba(177, 27, 27, 0.9);
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backline {
    left: calc((100% - 740px) / 2);
    width: 740px;
    height: 40%;
    /* Flex box */
    display: flex;
    justify-content: center;
}
#com-backline {
    bottom: 40%;
}
#player-backline {
    top: 40%;
}
.frontline {
    left: calc((100% - 740px) / 2);
    width: 740px;
    height: 40%;
    /* Flex box */
    display: flex;
    justify-content: center;
}
#com-frontline {
    bottom: 0;
}
#player-frontline {
    top: 0;
}

/********
 * Card *
 ********/
.hand .card {
    /* Cards in hand should always be at the topmost layer */
    z-index: 999;
}
.deck,
.card {
    /* Size */
    width: 120px;
    height: 160px;
    border: 1px solid black;
    border-radius: 12px;
}
.card {
    /* Ensure cards are always at the top so that they're interactable */
    z-index: 998;
    /* Position */
    position: relative;
    display: inline-block;

    /* For smooth transform animation defined in the next selector */
    transition: transform 0.3s ease-out;
    /* border */
    border-image-slice: 15 15 15 15 fill;
    border-image-width: 0px 0px 0px 0px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round round;
    border-image-source: url("./assets/img/lor-card-border.png");
    border-style: solid;
    /* Background */
    background-size: 112px 144px;
    background-repeat: no-repeat;
    background-position: 4px 8px;
}
#player .hand > .card:hover {
    transform: translate(0, -100px);
}
.card-action-button {
    cursor: pointer;
    top: 10%;
    /* left: 0; */
    right: 10%;
    /* margin-left: auto;
    margin-right: auto; */
    /* text-align: center; */
    width: 20%;
    height: 16%;
    background-image: url("./assets/img/cursor-hand-click-line.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20%;
}
.card-name {
    bottom: 15%;
    color: white;
    /* Center text */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.card-cost {
    /* Position */
    top: 4px;
    left: 3px;
    /* Size & shape */
    width: 24px;
    height: 24px;
    background: rgb(3, 36, 0);
    background: linear-gradient(
        135deg,
        rgba(9, 71, 3, 1) 0%,
        rgba(38, 143, 51, 1) 49%,
        rgba(0, 99, 14, 1) 100%
    );
    border-radius: 50%;
    /* Text */
    color: white;
    /* Text in center */
    text-align: center;
    vertical-align: middle;
    display: inline;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.card-attack {
    bottom: 10px;
    left: 8px;
    width: 10%;
    height: 10%;
    /* Text */
    color: white;
}
.card-health {
    bottom: 10px;
    right: 10px;
    width: 10%;
    height: 10%;
    /* Text */
    color: white;
}
/* Hide the card action button on com's cards */
#com .card-action-button {
    display: none;
}

/**********
 * Battle *
 **********/
.defence-slot {
    display: inline-block;
    width: 120px;
    height: 160px;
    background: lightblue;
    border: 1px solid black;
}
.clickable-def-slot {
    /* https://stackoverflow.com/a/5670984 */
    border: 2px solid #9ecaed;
    outline: none;
    box-shadow: 0 0 10px #9ecaed;
    cursor: pointer;
}

/************
 * Computer *
 ************/
#com {
    top: 0;
    left: 0;
    width: 100%;
    height: 49vh;
}
/* All com-X elements are positioned relative to #com */
#com-token {
    bottom: 16%;
    left: 22%;
}
#com-resources {
    bottom: 10%;
    left: 12%;
}
#com-resources .current-resources {
    bottom: 0;
    /* Center text */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#com .health {
    bottom: 10%;
    left: 3%;
}
#prophet {
    background: no-repeat center/60% url("./assets/img/prophet-of-regret.webp");
}
#com-deck {
    top: 5%;
    left: 2%;
}
/* Com's deck cover and cards in hand should look the same */
#com-hand .card,
#com-deck {
    border: 1px solid black;
    background: no-repeat center/100% url("./assets/img/elite-card-back.png");
}
.hidden > * {
    visibility: hidden;
}
#com-hand {
    bottom: 90%;
    left: calc((100% - 1220px) / 2);
}
#phantom {
    bottom: 40%;
    left: 12%;
    width: 250px;
    height: 250px;
    background: no-repeat center/100% url("./assets/img/phantom-dropship.png");
}

/**********
 * Player *
 **********/
#player {
    top: 50%;
    left: 0;
    width: 100%;
    height: 49vh;
    /* border-top: 2px solid gold; */
}
/* All player-X elements are positioned relative to #player */
#player-token {
    top: 24%;
    left: 22%;
}
#player-resources {
    top: 8%;
    left: 12%;
}
#player-resources .current-resources {
    bottom: 0;
    /* Center text */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#player .health {
    top: 40%;
    left: 3%;
}
#cortana {
    background: no-repeat center/100% url("./assets/img/cortana.webp");
}
#player-deck {
    bottom: 5%;
    left: 2%;
    background: no-repeat center/108%
        url("./assets/img/master-chief-card-back.jpg");
}
#player-hand {
    top: 90%;
    left: calc((100% - 1220px) / 2);
}
#pelican {
    top: 40%;
    left: 12%;
    width: 250px;
    height: 250px;
    background: no-repeat center/100% url("./assets/img/pelican.png");
    transform: scaleX(-1);
}
