/************
 * Base CSS *
 ************/
/* Lock scroll, but allow rendering outside of screen */
html,
body {
    height: 100%;
    overflow: hidden;
}
/* Set the screen to not scroll */
#container {
    position: relative;
    height: 98vh;
    /* Mark out the container */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#board,
.backline,
.battle,
#com,
#player,
.deck,
.hand,
.health,
.resources,
.token,
#game-button,
.card-name,
.card-cost,
.card-attack,
.card-health {
    /* All except class="card" are absolute */
    position: absolute;
}

/***********
 * General *
 ***********/
#game-button {
    top: calc(50% - 100px / 2);
    right: 2%;
    width: 100px;
    height: 100px;
    background: green;
}
.token {
    width: 64px;
    height: 64px;
    background: orange;
}
.resources {
    width: 20px;
    height: 256px;
    background: blue;
}
.health {
    width: 70px;
    height: 70px;
    background: red;
}
.deck {
    width: 100px;
    height: 160px;
    background: black;
}
.hand {
    width: 70%;
    height: 160px;
    background: gray;
}

/************
 * Computer *
 ************/
#com {
    top: 0;
    left: 0;
    width: 100%;
    height: 49vh;
}
/* All com-X elements are positioned relative to #com */
#com-token {
    bottom: 18%;
    right: 5%;
}
#com-resources {
    bottom: 18%;
    right: 2%;
}
#com-health {
    bottom: 10%;
    left: 3%;
}
#com-deck {
    top: 5%;
    left: 2%;
}
#com-hand {
    bottom: 90%;
    left: 15%;
}

/**********
 * Player *
 **********/
#player {
    top: 50%;
    left: 0;
    width: 100%;
    height: 49vh;
}
/* All player-X elements are positioned relative to #player */
#player-token {
    top: 18%;
    right: 5%;
}
#player-resources {
    top: 18%;
    right: 2%;
}
#player-health {
    top: 10%;
    left: 3%;
}
#player-deck {
    bottom: 5%;
    left: 2%;
}
#player-hand {
    top: 90%;
    left: 15%;
}

/*********
 * Board *
 *********/
#board {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}
.backline {
    width: 100%;
    height: 25%;
    background: darkcyan;
}
#com-backline {
    top: 0;
    left: 0;
}
#player-backline {
    bottom: 0;
    left: 0;
}
.battle {
    width: 100%;
    height: 25%;
    background: yellowgreen;
}
#com-battle {
    top: 25%;
    left: 0;
}
#player-battle {
    bottom: 25%;
    left: 0;
}

/********
 * Card *
 ********/
.card {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 160px;
    background: coral;
}
.card-cost {
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
}
.card-attack {
    bottom: 0;
    left: 0;
    width: 10%;
    height: 10%;
}
.card-health {
    bottom: 0;
    right: 0;
    width: 10%;
    height: 10%;
}
